@model List<TranAnhDung_2122110043.Models.CartModel>

@{
    ViewBag.Title = "Shopping Cart";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script type="text/javascript">
    function removeFromCart(id) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("Remove", "Cart")',
            data: { id: id },
            success: function (response) {
                if (response.Success) {
                    alert(response.Message);
                    location.reload();
                } else {
                    alert("Error removing item from cart.");
                }
            },
            error: function () {
                alert("An error occurred while removing the item.");
            }
        });
    }
</script>

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
    <div class="container">

        <div class="row">
            <main class="col-md-9">
                <div class="card">

                    <table class="table table-borderless table-shopping-cart">
                        <thead class="text-muted">
                            <tr class="small text-uppercase"> 
                                <th scope="col">Tên sản phẩm </th>
                                <th scope="col" width="120">Số lượng</th>
                                <th scope="col" width="120">Giá</th>
                                <th scope="col" class="text-right" width="200"> </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        <figure class="itemside">
                                            <div class="aside"><img src="~/Content/images/product/@item.Product.image" class="img-sm"></div>
                                            <figcaption class="info">
                                                <a href="#" class="title text-dark">@item.Product.name</a>
                                                <p class="text-muted small">@item.Product.specs</p>
                                            </figcaption>
                                        </figure>
                                    </td>
                                    <td>
                                        <input type="number" class="form-control" value="@item.Quantity" min="1">
                                    </td>
                                    <td>
                                        <div class="price-wrap">
                                            <var class="price">@(item.Product.price * item.Quantity)VND</var>
                                            <small class="text-muted"> @item.Product.price each </small>
                                        </div>
                                    </td>
                                    <td class="text-right">
                                        <a href="javascript:void(0);" onclick="removeFromCart(@item.Product.id)" class="btn btn-light"> Remove</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                    <div class="card-body border-top">
                        <a href="@Url.Action("Index","Payment")" class="btn btn-primary float-md-right">Tiến hành thanh tóan <i class="fa fa-chevron-right"></i> </a>
                        <a href="@Url.Action("Index", "Home")" class="btn btn-light"> <i class="fa fa-chevron-left"></i> Tiếp tục mua sắm </a>
                    </div>
                </div> <!-- card.// -->

                <div class="alert alert-success mt-3">
                    <p class="icontext"><i class="icon text-success fa fa-truck"></i> Free Delivery within 1-2 weeks</p>
                </div>

            </main> <!-- col.// -->
            <aside class="col-md-3">
                <div class="card mb-3">
                    <div class="card-body">
                        <form>
                            <div class="form-group">
                                <label>Có phiếu giảm giá?</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" name="" placeholder="Mã phiếu giảm giá">
                                    <span class="input-group-append">
                                        <button class="btn btn-primary">Áp dụng</button>
                                    </span>
                                </div>
                            </div>
                        </form>
                    </div> <!-- card-body.// -->
                </div>  <!-- card .// -->
                <div class="card">
                    <div class="card-body">
                        <dl class="dlist-align">
                            <dt>Thành tiền:</dt>
                            <dd class="text-right">$@Model.Sum(item => item.Product.price * item.Quantity)</dd>
                        </dl>
                        <dl class="dlist-align">
                            <dt>Chiết khấu:</dt>
                            <dd class="text-right">$0</dd>
                        </dl>
                        <dl class="dlist-align">
                            <dt>Tổng :</dt>
                            <dd class="text-right h5"><strong>$@Model.Sum(item => item.Product.price * item.Quantity)</strong></dd>
                        </dl>
                        <hr>
                        <p class="text-center mb-3">
                            <img src="~/Content/images/misc/payments.png" height="26">
                        </p>

                    </div> <!-- card-body.// -->
                </div>  <!-- card .// -->
            </aside> <!-- col.// -->
        </div>

    </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->s