@model TranAnhDung_2122110043.Context.Product

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Product Details</h2>

<div>
    <h4>@Html.DisplayFor(model => model.name)</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.slug)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.slug)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.specs)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.specs)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.image)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.image)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.price)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.sale_price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.sale_price)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.stock)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.stock)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.created_at)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.created_at)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.updated_at)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.updated_at)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.status)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Brand.name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Brand.name)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Category.name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category.name)
        </dd>
    </dl>
</div>

<p>
    <a href="@Url.Action("Edit", new { id = Model.id })" class="btn btn-primary">Edit</a> |
    <a href="@Url.Action("Index")" class="btn btn-secondary">Back to List</a>
</p>
